/* body */
body {
    font-size: 200%;
    font-weight: bolder;
}

header {
    width: 100%;
}

.me-2 h1 {
    display: flex;
    justify-content: left;
}


h1 {
    margin: 80px 0px 50px 0px;
    font-size: 180%;
}

.text-arign-center {
    margin: 80px 0px 50px 0px;
    text-align: center;
}

.text-align-left {
    text-align: left;
}



.container {
}


.outer {
    /* width: 100%;
    height: 100vh; */
    
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 100px; */
}

.button_center {
    text-align: center;
}

.text_center , .admin_login_h1 {
    text-align: center;
}


/* login */
.line_hight {
    width: 200px;
    line-height: 50px;
    font-size: 150%;
}

.margin_top {
    margin-top: 20px;
}


/* admin */
.btn-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    width: 100%;
    border-radius: 5%;
}


.btn-outline-dark{
    margin: 30px 10px 50px 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    font-size: 180%;
    border-radius: 30px;
    /* font-size: 180%; */
}

.btn-outline-dark:hover {
    background-color: rgb(98, 31, 81);
}

.register_sbmit_btn:hover {
    background-color: rgb(98, 31, 81);
    border-color: rgb(98, 31, 81);
}

.register_sbmit_btn , .register_sbmit{
    background-color: #ffffff;
    color: black;
    border-color: black;
    align-items: center;
}


/* .btn-group-lg>.btn,
.btn-lg {
    border-radius: none;
    border: none;
} */

/* .btn-primary:hover {
    background-color: #25569e;
}

.btn-secondary:hover {
    background-color: #3e4043;
} */


/* register */

.d-flex {
    flex-wrap: wrap;
}

.register_sbmit {
    text-align: center;
}

.register_sbmit_btn {
    width: 180px;
    height: 100px;
    margin-top: 50px;
    font-size: inherit;
    font-weight: bold;
}
