<!-- 登録と距離選択ボタンのページ -->
{% extends "layout.html" %}
{% block content %}


<!-- <script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
</script> -->
<h1>選択してください</h1>

<div class="btn-wrap">
    <input type="button" onclick="location.href='/register'" value="車両登録" class="btn btn-outline-dark">
    <input type="button" onclick="location.href='/upload'" value="運行記録" class="btn btn-outline-dark">
</div>
<p>{{ outfile }}</p>
<img src="{{ outfile }}" alt="">

<h1>&lt;予約一覧&gt;</h1>
{% for data in datas%}
<p style="text-align: center;">
    {{ data.use_date}}
    {{ data.start_time }}
    {{ data.ending_time }}
    {{ data.task_select }}
    {{ data.car_select }}
    {{ data.affiliation_select }}
    {{ data.department1 }}
    {{ data.department2 }}
    {{ data.department3 }}
    {{ data.ODO }}Km
    {{ data.oil }}L
    {{ data.text }}
</p>
{% endfor %}

<h1>&lt;使用車両&gt;</h1>
{% endblock %}
