<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODO画像</title>
</head>

<body>
    <P>輸送車</P>
    <img src="{{ photo_data.yusou1 }}" width="800px" height="600px">
    <P>救助１</P>
    <img src="{{ photo_data.kyuuzyo1 }}"width="800px" height="600px">
    <P>化学１</P>
    <img src="{{ photo_data.kagaku1 }}"width="800px" height="600px">
    <P>タンク１</P>
    <img src="{{ photo_data.tank1 }}"width="800px" height="600px">
    <P>水槽１</P>
    <img src="{{ photo_data.suisou1 }}"width="800px" height="600px">
    <P>はしご１</P>
    <img src="{{ photo_data.hashigo1 }}"width="800px" height="600px">
    <P>支援１</P>
    <img src="{{ photo_data.sien1 }}"width="800px" height="600px">
    <P>団広報１</P>
    <img src="{{ photo_data.dankouhou1 }}"width="800px" height="600px">
    <P>連絡11</P>
    <img src="{{ photo_data.renraku11 }}"width="800px" height="600px">
    <P>連絡10</P>
    <img src="{{ photo_data.renraku10 }}"width="800px" height="600px">
    <P>連絡1</P>
    <img src="{{ photo_data.renraku1 }}"width="800px" height="600px">
    <P>予備積載</P>
    <img src="{{ photo_data.yobisekisai }}"width="800px" height="600px">
    <P>団指令１</P>
    <img src="{{ photo_data.danshirei1 }}"width="800px" height="600px">
    <P>団指令20</P>
    <img src="{{ photo_data.danshirei20 }}"width="800px" height="600px">
    <P>救急20</P>
    <img src="{{ photo_data.kyuukyuu20 }}"width="800px" height="600px">
    <P>タンク20</P>
    <img src="{{ photo_data.tank20 }}"width="800px" height="600px">

</body>

</html>
