<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/register_chinko" method="post">
        <p name="use_date">{{ use_date }}</p>
        <p name="start_time">{{ start_time }}</p>
        <p name="ending_time">{{ ending_time }}</p>
        <p name="task">{{ task }}</p>
        <p name="car_select">{{ car_select }}</p>
        <p name="select">{{ select }}</p>
        <p name="ODO">{{ ODO }}</p>
        <p name="oil">{{ oil }}</p>
        <p name="text">{{ text }}</p>

        <input type="submit" value="comfirm">
    </form>
    <button onclick="location.href='/register'">back</button>
</body>

</html>
