<!-- メイン画面ね
ダッシュボード
現在の車両使用状況
予約状況の表示 -->

{% extends "layout.html" %}

{% block content %}
<!-- <body> -->
        <!-- <h1>車両利用登録</h1>
            <lavel>利用車両<input type="text" name="vehicle_used"></lavel>
            <lavel>使用者名<input type="text" name="user_name"></lavel>
            <dt>使用時間</dt>
            <dd>開始時刻<input type="time" name="start_time"></dd>
            <dd>終了時刻<input type="time" name="ending_time"></dd> -->
        <!-- upload.html転送未入力 -->
<h1>車両使用状況</h1>
<table>
<!-- ↓一覧画面繰り返し -->
    <tr>
        <th>利用車両</th><td></td>
        <th>使用者名</th><td></td>
        <th>開始時刻</th><td></td>
        <th>終了時刻</th><td></td>
        <th>走行距離</th><td></td>
    </tr>
</table>
<h1>予約状況</h1>
<table>
<!-- ↓一覧画面繰り返し -->
    <tr>
        <th>利用車両</th><td></td>
        <th>使用者名</th><td></td>
        <th>開始時刻</th><td></td>
        <th>終了時刻</th><td></td>
        <th>走行距離</th><td></td>
    </tr>
</table>

<!-- </body> -->
{% endblock %}
