<!-- 社員番号とパスワードでログイン -->



{% extends "layout.html" %}
{% block content %}

<h1 class="text_center">ログイン</h1>
<form action="/login_user" method="post" class="text_center">
    <input type="text" size="15" name="name" placeholder="name" class="line_hight"><br><br>
    <input type="password" size="15" name="password" placeholder="password" class="line_hight"><br><br>
    
    <div class="button_center margin_top">
        <input type="submit" class="btn btn-primary register_sbmit_btn" value="ログイン">
        <!-- <input type="submit" value="Login as Admin"> -->
    </div>
</form>

{% endblock %}
