<!-- 要るか要らんかわからんが一応ユーザー登録画面
社員番号とパスワード -->

{% extends "layout.html" %}

{% block content %}
<!-- <body> -->
<h1 class="text_center">利用登録</h1>
<form action="/signup" method="post"  class="text_center">
    <input type="text" name="name" placeholder="name" class="line_hight"><br><br>
    <input type="password" name="password" placeholder="password" class="line_hight"><br><br>

    <div class="button_center margin_top">
        <input type="submit" value="SignUp" class="btn btn-primary register_sbmit_btn">
    </div>

</form>
<!-- </body> -->
{% endblock %}
