<!-- オドメーター画像アップロード画面
OCRで読み込み、利用後のメータ距離をDBに保存 -->
{% extends "layout.html" %}
{% block content %}

<h1>ODOメーター画像登録</h1>
<p>{{ distance }}</p>
画像から走行距離を読み取ります
<!-- <p>{{ path }}</p> -->
<p>
<h2>輸送１</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
    <p class="text_center"></p>
    <input type="file" name="file" value="take a photo" accept="image/*">
    <div class="button_center">
        </p>
        <img src={{ yusou1 }} alt="">
        <p>
        <h2>救助１</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p class="text_center"></p>
            <input type="file" name="file" value="take a photo" accept="image/*">
            <div class="button_center">
                </p>
                <img src={{ kyuuzyo1 }} alt="">
                <p>
                <h2>化学１</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <p class="text_center"></p>
                    <input type="file" name="file" value="take a photo" accept="image/*">
                    <div class="button_center">
                        </p>
                        <img src={{ kagaku1 }} alt="">
                        <p>
                        <h2>タンク１</h2>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <p class="text_center"></p>
                            <input type="file" name="file" value="take a photo" accept="image/*">
                            <div class="button_center">
                                </p>
                                <img src={{ tank1 }} alt="">
                                <p>
                                <h2>水槽１</h2>
                                <form action="/upload" method="post" enctype="multipart/form-data">
                                    <p class="text_center"></p>
                                    <input type="file" name="file" value="take a photo" accept="image/*">
                                    <div class="button_center">
                                        </p>
                                        <img src={{ suisou1 }} alt="">
                                        <p>
                                        <h2>梯子１</h2>
                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                            <p class="text_center"></p>
                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                            <div class="button_center">
                                                </p>
                                                <img src={{ hashigo1 }} alt="">
                                                <p>
                                                <h2>支援１</h2>
                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                    <p class="text_center"></p>
                                                    <input type="file" name="file" value="take a photo" accept="image/*">
                                                    <div class="button_center">
                                                        </p>
                                                        <img src={{ shien1 }} alt="">
                                                        <p>
                                                        <h2>団広報１</h2>
                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                            <p class="text_center"></p>
                                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                                            <div class="button_center">
                                                                </p>
                                                                <img src={{ dankouhou1 }} alt="">
                                                                <p>
                                                                <h2>連絡１０</h2>
                                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                                    <p class="text_center"></p>
                                                                    <input type="file" renraku11renname="file" value="take a photo" accept="image/*">
                                                                    <div class="button_center">
                                                                        </p>
                                                                        <img src={{ renraku10}} alt="">
                                                                        <p>
                                                                        <h2>連絡１１</h2>
                                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                                            <p class="text_center"></p>
                                                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                                                            <div class="button_center">
                                                                                </p>
                                                                                <img src={{ renraku11 }} alt="">
                                                                                <p>
                                                                                <h2>連絡１</h2>
                                                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                    <p class="text_center"></p>
                                                                                    <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                    <div class="button_center">
                                                                                        </p>
                                                                                        <img src={{ renraku1 }} alt="">
                                                                                        <p>
                                                                                        <h2>予備積載車</h2>
                                                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                            <p class="text_center"></p>
                                                                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                            <div class="button_center">
                                                                                                </p>
                                                                                                <img src={{ yobisekisai }} alt="">
                                                                                                <p>
                                                                                                <h2>団指令１</h2>
                                                                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                                    <p class="text_center"></p>
                                                                                                    <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                                    <div class="button_center">
                                                                                                        </p>
                                                                                                        <img src={{ danshirei1 }} alt="">
                                                                                                        <p>
                                                                                                        <h2>団指令２０</h2>
                                                                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                                            <p class="text_center"></p>
                                                                                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                                            <div class="button_center">
                                                                                                                </p>
                                                                                                                <img src={{ danshirei20 }} alt="">
                                                                                                                <p>
                                                                                                                <h2>救急２０</h2>
                                                                                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                                                    <p class="text_center"></p>
                                                                                                                    <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                                                    <div class="button_center">
                                                                                                                        </p>
                                                                                                                        <img src={{ kyuukyuu20 }} alt="">
                                                                                                                        <p>
                                                                                                                        <h2>タンク２０</h2>
                                                                                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                                                                                            <p class="text_center"></p>
                                                                                                                            <input type="file" name="file" value="take a photo" accept="image/*">
                                                                                                                            <div class="button_center">
                                                                                                                                </p>
                                                                                                                                <img src={{ tank20 }} alt="">

                                                                                                                                <input type="submit" value="upload">
                                                                                                                        </form>
                                                                                                                        <button onclick="location.href='/register'">back</button>
                                                                                                                        </body>
                                                                                                                        {% endblock %}
